body {
	cursor: default;
	margin: 0;
	padding: 0;
}
button {
	cursor: pointer;
}
li, button, input, span {
	font-family: sans-serif;
	font-size: 1em;
	line-height: 1.4em;
}
button:hover {
	background: rgba(0, 0, 0, 0.5);
}
button, input {
	margin-right: 11px;
	padding: 15px;
	border: none;
	border-radius: 2px;
	outline: none;
	background: rgba(0, 0, 0, 0.3);
}
input {
	width: 290px;
	border-left: solid 3px transparent;
}
input:focus {
	border-color: #1DD1AA;
}
ul {
	list-style: none;
	padding: 0;
	border-top: solid 1px rgba(0, 0, 0, 0.2);
}
ul li {
	border-bottom: solid 1px rgba(0, 0, 0, 0.2);
	padding: 15px;
}
ul li div {
	display: inline-block;
	vertical-align: top;
}
ul li img {
	margin-right: 15px;
}
#search-container {
	position: absolute;
	width: 60%;
	padding-top: 66px;
}
#search-container .search, #search-container .search span {
	background: #1DD1AA;
	color: #222;
}
#search-container .search:hover, #search-container .search:hover span {
	background: #0DFCC8;
}
#search-container li:hover {
	cursor: pointer;
	background: rgba(0, 0, 0, 0.1);
}
#player-container {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	width: 40%;
	padding-top: 99px;
	background: rgba(0, 0, 0, 0.05);
}
#player {
	max-width: 90%;
	margin-left: 15px;
	margin-bottom: 7px;
}
header {
	position: fixed;
	width: 100%;
	top: 0;
	padding: 15px;
	/*border-bottom: solid 1px #CCC;*/
	background: #222;
}
header * {
	color: white;
}
header span {
	padding-right: 15px;
	font-weight: bold;
}
#help {
	position: fixed;
	display: none;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 30px;
	background: rgba(255, 255, 255, 0.8);
}
#help.active {
	display: inline-block;
}